.contactacSection {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.contactacSection h1 {
  color: whitesmoke;
  font-size: 2rem;
}

.fab,
.fas {
  font-size: 3.5rem;
}

.containerContactMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.containerContact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: 0.1px solid whitesmoke;
  height: 200px;
  flex: 1 1 0;
  min-width: 200px;
  margin: 2rem;
  border-radius: 2rem;
  text-decoration: none;
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.6);
}

.containerContact p {
  font-size: 1.5rem;
}

.containerContact:hover {
  background-color: whitesmoke;
  color: rgb(32, 105, 241);
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  .containerContactMain {
    flex-wrap: wrap;
  }

  .contactacSection {
    height: 1000px;
  }
}
