.contactacSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  animation-duration: 1s;
  animation-name: moveFromLeft;
  animation-timing-function: linear;

  & h1 {
    color: $white-color;
    font-size: 2rem;
  }
}

.containerContactMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  .containerContact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 4px solid $white-color;
    height: 280px;
    flex-basis: 280px;
    margin: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    color: $white-color;
    padding: 1rem;
    text-align: center;
    box-shadow: 1px 2px 10px -1px $shadow-color;

    .fab,
    .fas {
      font-size: 3.5rem;
    }

    & p {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $white-color;
      color: $blue-color;
      transition: 2s;
      border: 4px solid $shadow-color;
    }
  }
}

@media only screen and (max-width: 768px) {
  .containerContactMain {
    flex-wrap: wrap;

    .fab,
    .fas {
      font-size: 2rem;
    }
    .containerContact {
      flex-basis: 80%;
    }
  }

  .contactacSection {
    height: 1000px;
  }
}
