footer {
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  & p {
    flex-basis: 100%;
    padding-left: 1rem;
  }
}
