footer {
  padding: 1rem 0;
  margin: 1rem 0;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem;

  & p {
    flex-basis: 100%;
    padding-left: 1rem;
  }
}
