.homeCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 97%;
  @include animationLeftMoved;

  .imgCont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    .img {
      min-height: 100px;
      max-height: 300px;
      max-width: 100%;
      min-width: 10%;
      align-self: center;
      border-radius: 30rem;
    }
  }

  .textContainter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    font-size: 2.3rem;
    color: $white-color;

    .myResume {
      color: $white-color;
      animation-timing-function: linear;
      transform: $unhover-buttom;
      transition: 1s;
      font-size: 2rem;
      text-decoration: none;
      border-radius: 1rem;
      border: 2px solid $white-color;
      padding: 0.8rem;
      box-shadow: $box-shadow-link;
    }

    & a:hover {
      background-color: $white-color;
      color: $blue-color;
      transform: $hover-buttom;
      box-shadow: $box-shadow-hover;
    }

    & a:active {
      background-color: $blue-color;
      color: $white-color;
      transform: translateY(10px);
      box-shadow: $box-shadow-hover;
    }
  }
}

@media only screen and (max-width: 769px) {
  .homeCont {
    align-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    .imgCont {
      width: 90%;
      height: 30%;
      .img {
        max-width: 100%;
        height: 20rem;
      }
    }
    .textContainter {
      font-size: 1.3rem;
      width: 90%;
      height: auto;
      text-align: center;
      align-items: center;

      .myResume {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 321px) {
  .homeCont {
    height: 720px;
  }
}
