$white-color: whitesmoke;
$blue-color: rgb(32, 105, 241);
$shadow-color: rgba(71, 70, 70, 0.062);

$unhover-buttom: translateY(0px);
$hover-buttom: translateY(5px);

$box-shadow-link: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.438);
$box-shadow-hover: 0px 0px 0px 0px rgba(0, 0, 0, 0.089);
