* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Comfortaa", cursive;
}

html,
body {
  height: 100vh;
  background: #7abdfa;
  background: linear-gradient(86deg, #7abdfa 0%, #0075ff 48%, #036cff 100%, #0e50ff 100%, #ef4706 100%, #bdcec3 100%, #00ff55 100%, #0e91ff 100%, #00ff19 100%, #129fff 100%, #3274ff 100%);
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  height: 3rem;
  background: #7abdfa;
  background: linear-gradient(86deg, #7abdfa 0%, #0075ff 48%, #036cff 100%, #0e50ff 100%, #ef4706 100%, #bdcec3 100%, #00ff55 100%, #0e91ff 100%, #00ff19 100%, #129fff 100%, #3274ff 100%);
}

.header .logo {
  font-size: 2rem;
  color: whitesmoke;
}

.header .navBar {
  font-size: 1.6rem;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.header .navBar li a {
  color: whitesmoke;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.6rem;
  transition: 1s;
}

.header .navBar li a:hover {
  background-color: whitesmoke;
  color: #2069f1;
}

.header .mobileMenu {
  display: none;
  background-color: #2069f1;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  margin-left: auto;
}

.header .mobileMenu .mobileMenuItem {
  background-color: whitesmoke;
  height: 4px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 3px;
  list-style: none;
}

.mobileMenuDisplayedItems {
  position: fixed;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #2069f1;
  opacity: 0.95;
  top: 0;
  z-index: 10;
}

.mobileMenuDisplayedItems li {
  list-style: none;
}

.mobileMenuDisplayedItems li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

.mobileMenuDisplayedItems li a:hover {
  background-color: whitesmoke;
  color: #2069f1;
  transition: 1.5s;
}

.buttomUndisplay {
  border: none;
  background-color: #2069f1;
  color: whitesmoke;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 0rem 0.5rem;
}

.buttomUndisplay:hover {
  background-color: whitesmoke;
  color: #2069f1;
  transition: 1.5s;
}

@media only screen and (max-width: 768px) {
  .header .logo {
    margin-left: 0.5rem;
  }
  .header .navBar {
    display: none;
  }
  .header .mobileMenu {
    display: block;
  }
}

footer {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  flex-basis: 100%;
  padding-left: 1rem;
}

.homeCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 97%;
  animation-duration: 2s;
  animation-name: moveFromLeft;
  animation-timing-function: linear;
}

.homeCont .imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.homeCont .imgCont .img {
  min-height: 100px;
  max-height: 300px;
  max-width: 100%;
  min-width: 10%;
  align-self: center;
  border-radius: 30rem;
}

.homeCont .textContainter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  font-size: 2.3rem;
  color: whitesmoke;
}

.homeCont .textContainter .myResume {
  color: whitesmoke;
  animation-timing-function: linear;
  transform: translateY(0px);
  transition: 1s;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 1rem;
  border: 2px solid whitesmoke;
  padding: 0.8rem;
  box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.438);
}

.homeCont .textContainter a:hover {
  background-color: whitesmoke;
  color: #2069f1;
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.089);
}

.homeCont .textContainter a:active {
  background-color: #2069f1;
  color: whitesmoke;
  transform: translateY(10px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.089);
}

@media only screen and (max-width: 769px) {
  .homeCont {
    align-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .homeCont .imgCont {
    width: 90%;
    height: 30%;
  }
  .homeCont .imgCont .img {
    max-width: 100%;
    height: 20rem;
  }
  .homeCont .textContainter {
    font-size: 1.3rem;
    width: 90%;
    height: auto;
    text-align: center;
    align-items: center;
  }
  .homeCont .textContainter .myResume {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 321px) {
  .homeCont {
    height: 720px;
  }
}

.projects {
  animation-duration: 2s;
  animation-name: moveFromLeft;
  animation-timing-function: linear;
}

.projects_title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 730px;
  color: whitesmoke;
}

.projects_title h1 {
  font-size: 4.5rem;
  text-align: center;
}

.textContainerProjects {
  font-size: 2.7rem;
  height: 20%;
  flex-basis: 50%;
  gap: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.textContainerProjects .container-scroll {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.textContainerProjects .container-scroll .linkProjects:link {
  flex-basis: 25%;
  flex-grow: 0.2;
  flex-shrink: 1;
  border-radius: 1rem;
  border: solid 2px whitesmoke;
  padding: 0.5rem;
  font-size: 1.7rem;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  transform: translateY(0px);
  transition: 1s;
  box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.438);
}

.textContainerProjects .container-scroll .linkProjects:hover {
  background-color: whitesmoke;
  color: #2692f7;
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.089);
}

.textContainerProjects .container-scroll .linkProjects:active {
  background-color: #2069f1;
  color: whitesmoke;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.089);
}

.textContainerProjects .container-scroll p {
  margin-left: 1rem;
}

.projectContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.projectContainer .titleCont {
  color: whitesmoke;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.projectContainer .js {
  margin-bottom: 5rem;
}

.projectContainer .fade-out {
  opacity: 0;
}

.projectContainer .fade-in-appear {
  opacity: 1;
  transition: opacity 1s linear;
}

.projectContainer .containerMultiple {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  height: 50%;
  width: 100%;
  padding: 3rem;
}

.projectContainer .containerMultiple .conIndv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2%;
  background-color: whitesmoke;
  height: 280px;
  flex-basis: 22%;
  flex-shrink: 1;
  border-radius: 1.5rem;
  color: #2692f7;
  font-size: 1rem;
  text-align: center;
  border: 1px black double;
}

.projectContainer .containerMultiple .conIndv .video {
  height: 110px;
  max-width: 100%;
  border-radius: 2rem;
}

.projectContainer .containerMultiple .conIndv .containerButtom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 200px;
  max-width: 200px;
}

.projectContainer .containerMultiple .conIndv .containerButtom .show:link, .projectContainer .containerMultiple .conIndv .containerButtom .show:visited {
  transform: translateY(0px);
  transition: 1s;
  text-decoration: none;
  color: #2069f1;
  border: 1px #2069f1 solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.438);
}

.projectContainer .containerMultiple .conIndv .containerButtom .show:hover {
  color: whitesmoke;
  background-color: #2069f1;
  transform: translateY(1px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.089);
}

.projectContainer .containerMultiple .conIndv .containerButtom .show:active {
  color: #2069f1;
  background-color: whitesmoke;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.089);
}

@media only screen and (max-width: 768px) {
  .projectContainer {
    justify-content: center;
  }
  .projectContainer .titleCont {
    font-size: 2rem;
    text-align: center;
  }
  .projects_title {
    flex-wrap: wrap;
    align-content: center;
  }
  .projects_title h1 {
    font-size: 2.5rem;
  }
  .textContainerProjects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-basis: 90%;
    padding: 0 1rem;
    font-size: 1.4rem;
    text-align: center;
  }
  .textContainerProjects p {
    margin: 0;
  }
  .textContainerProjects .container-scroll {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .textContainerProjects .container-scroll .linkProjects:link {
    margin: 0;
    font-size: 1.1rem;
  }
  .containerMultiple .conIndv {
    flex-grow: 0.6;
  }
}

@media only screen and (max-width: 280px) {
  .containerButtom {
    width: 80%;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 280px;
  flex-basis: 25rem;
  flex-shrink: 1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #2692f7;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform: rotateY(180deg);
}

.contactacSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  animation-duration: 2s;
  animation-name: moveFromLeft;
  animation-timing-function: linear;
}

.contactacSection h1 {
  color: whitesmoke;
  font-size: 2rem;
}

.containerContactMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.containerContactMain .containerContact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: 4px solid whitesmoke;
  height: 280px;
  flex-basis: 250px;
  margin: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
  transition: 1s;
}

.containerContactMain .containerContact .fab,
.containerContactMain .containerContact .fas {
  font-size: 3.5rem;
}

.containerContactMain .containerContact p {
  font-size: 1.5rem;
}

.containerContactMain .containerContact:hover {
  background-color: whitesmoke;
  color: #2069f1;
  transform: translateY(-10px);
  border: 4px solid rgba(71, 70, 70, 0.062);
}

.containerContactMain .containerContact:active {
  background-color: #2069f1;
  color: whitesmoke;
  transform: translateY(10px);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60rem;
}

@media only screen and (max-width: 768px) {
  .containerContactMain {
    flex-wrap: wrap;
  }
  .containerContactMain .fab,
  .containerContactMain .fas {
    font-size: 2rem;
  }
  .containerContactMain .containerContact {
    flex-shrink: 1;
  }
  .contactacSection {
    height: 1000px;
  }
}
/*# sourceMappingURL=main.css.map */