main {
  .container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;

    .contact {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 0.15 0.2 auto;
      align-items: center;
      border: solid $white-color 1px;
      border-radius: 3rem;
      height: 40rem;
      transition: 1s;

      &:hover {
        background-color: $white-color;
        transform: translateY(-1rem);

        h3,
        a {
          color: $blue-color;
        }
      }

      h3 {
        color: $white-color;
      }

      a {
        text-decoration: none;
        color: $white-color;
        font-size: 1.4rem;
        transition: 1s;
        border-radius: 1rem;
        padding: 0 0.4rem;

        &:hover {
          background-color: $blue-color;
          color: $white-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  main {
    .container-contact {
      align-content: center;
      gap: 3rem;
      .contact {
        width: 50%;
        height: 20rem;
      }
    }
  }
}
