footer {
  color: $blue-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  width: 100%;
  background-color: $white-color;

  & p {
    flex-basis: 100%;
    padding-left: 1rem;
  }
}
